<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="static/about.css">
    <title>FARM2FAM</title>
</head>
<!--Nav Bar Section-->

<body>
    <nav>
        <div class="logo">Farm2Family</div>
        <div class="nav-items">

            <li><a href="home">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="buy">Buy/Sell</a></li>
          <li><a href="registration">Login/Register</a></li>

        </div>
    </nav>
    <!--container-1-->
      <h3> We are pioneers in the tech-driven supply chain <br> space for fresh produce </h3>

    <img align='center' width='30%' src="static/truck3(1)(1).png">

    <div class="theinceptionjourney_list">
                <h3> Supply Chain and Tech</h3>
                <p>Fam2Family is India's largest fresh produce supply chain company that is solving one <br>of the toughest problems in the world through technology.</p>
                <p>We connect producers of food directly with retailers, restaurants, and service providers using in-house applications that drive <br>end to end operations. Currently, our Supply Chain is equipped to move 1400 tonnes of perishables from farms to businesses,<br> every day, in less than 12 hours.</p>
            </div>


    <div class="container-fluid opp-bnnr">
            <div class="row">
                <div class="clmn">
                    <div class="card">
                        <div class="name">
                          <b>The problem</b>
                        </div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-dot-circle-o "></i></span> Farmers experience price risk, information asymmetry about <br> demand, distribution inefficiency, and receive late payments.</li>
                            <li><span class="fa-li"><i class="fa fa-dot-circle-o "></i></span>Retailers face problems like higher costs, low quality and<br> unhygienic produce, high price volatility, and the everyday <br>hassle of going to the market.</li>
                            <li><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span>The traditional Supply Chain is highly inefficient, unorganized,<br> and has a high rate of food wastage.</li>
                            
                        </ul>
                    </div>
                </div>
    
    <div class="clmn host">
                    <div class="card">
                        <div class="name">
                            <b>Our Solution</b>
                        </div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-dot-circle-o "></i></span>We eliminated intermediaries by taking control of the Supply <br>Chain by using technology and analytics.</li>
                            <li><span class="fa-li"><i class="fa fa-dot-circle-o "></i></span>We built reliable, cost-effective, and high-speed logistics <br>and infrastructure to solve for inefficiencies in the Supply Chain.</li>
                            <li><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span>On one end, farmers get better prices and consistent demand,<br> and on the other end, retailers receive fresh produce at competitive prices that are delivered to their doorstep.</li>
                        </ul>
                    </div>
                </div>
            </div>


            <h3> The Road Ahead </h3>

          <p class="p1">Our vision is to build India's most efficient and largest Supply Chain platform and <br>improve the lives of producers, businesses, and consumers in a meaningful manner. </p>

          <p class="p2">We are focused on making the Fam2Family innovation more accessible to the most fragmented parts<br> of society. We intend to leverage our strengths and resources to innovate for new product <br>categories and customer segments while solving complex supply chain problems.</p>


         <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify p3">Some Text</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Company</h6>
                    <ul class="footer-links">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="buy.html">Buy/Sell</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Resource</h6>
                    <ul class="footer-links">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text p3">Copyright &copy; 2021 All Rights Reserved by Farm2Fam.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
