<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="static/buy.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Buy/Sell</title>
</head>

<body>
  <nav>
    <div class="logo">Farm2Fam</div>
    <div class="nav-items">

      <li><a href="home">Home</a></li>
      <li><a href="about">About Us</a></li>
      <li><a href="buy">Buy/Sell</a></li>
      <li><a href="registration">Login/Register</a></li>
    </div>
  </nav>

  <main>
    <p> Benefit from India’s fastest Supply Chain for Fresh Produce</p>
    <div>Farm2Fam sources directly from farmers and moves <br> fresh produce to businesses every day,<br>in just 12
      hours using analytics and technology.</div>
  </main>

  <div class="row">
    <div id="container" class="col-lg-6 col-md-6 col-sm-12">
      <div class="leftside">
        <p>Become a Farm2Fam customer</p>
        <h5>Get farm-fresh vegetables <br> and fruits delivered <br>to your doorstep.</h5>
        <a href="registration"><span class="learnmore_btn">Get in touch</span></a>
      </div>
    </div>

    <div id="container" class="col-lg-6 col-md-6 col-sm-12">
      <div class="rightside">
        <p>Become a Farm2Fam seller</p>
        <h5>Be a part of bringing <br>about a change in the <br>agriculture industry.</h5>
        <a href="farmer"><span class="learnmore_btn">Get in touch</span></a>
      </div>
    </div>


  </div>

</body>

</html>